{% load pipeline %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>unshuffle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% stylesheet "base" %}
  </head>
  <body>
    <header>
      {% block heading %}<h1>unshuffle</h1>{% endblock %}
    </header>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li
            {% if message.tags %}class="{{ message.tags }}"{% endif %}
          >{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}{% endblock %}

    {% javascript "base" %}
  </body>
</html>
