{% extends "base.html" %}

{% block content %}
  <h1>{{ game.deck_name }}</h1>

  <form method="post">
    {% csrf_token %}

    <input type="radio" name="index" value="0"/>

    {% for card in game.river %}
      <p>{{ card.title }}</p>
      <input type="radio" name="index" value="{{ forloop.counter }}"/>
    {% endfor %}

    <hr/>
    <h2>{{ player.name }}</h2>

    {% for card in player.hand %}
      <p>
        <input id="card-{{ forloop.counter0 }}" type="radio" name="card" value="{{ forloop.counter0 }}"/>
        <label for="card-{{ forloop.counter0 }}">{{ card.title }}</label>
      </p>
    {% endfor %}

    <input type="submit"/>
  </form>

  <ul>
    {% for player in game.players %}
      <li><strong>{{ player.name }}</strong> has {{ player.hand|length }} cards</li>
    {% endfor %}
  </ul>
{% endblock %}
