{% extends "base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <input type="radio" name="index" value="0"/>

    {% for card in game.river %}
      <p>{{ card.identifier }}</p>
      <input type="radio" name="index" value="{{ forloop.counter }}"/>
    {% endfor %}

    {% for player in game.players %}
      <hr/>
      <h2>{{ player.name }}</h2>
      {% for card in player.hand %}
        
        <p>
          <input id="card-{{ forloop.counter0 }}" type="radio" name="card" value="{{ forloop.counter0 }}"/>
          <label for="card-{{ forloop.counter0 }}">{{ card.identifier }}</label>
        </p>

      {% endfor %}
    {% endfor %}

    <input type="submit"/>
  </form>

{% endblock %}
