@card-width: 10em;
@card-height: 5em;
@card-padding: 1em;
@highlight: #bbf;
@card: #fff;

body {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 1em;
  background-color: #ddd;
}

h2 {
  text-align: center;
  margin: 1em 0 0;
}

.river, .hand {
  display: block;
  position: relative;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  .choice-group {
    display: inline;
  }
}

.card-spacing {
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 1em;
  width: @card-width;
  height: @card-height;
  padding: @card-padding;
  margin: .5em .5em 2em;
}

.card {
  .card-spacing;
  background-color: @card;
  border-radius: @card-padding;
  transition: top 0.2s, background-color 0.2s;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.hand {
  input[type="radio"] {
    display: none;

    ~ label .card:hover, ~ label .card:focus {
      top: 1.5em;
      background-color: average(@highlight, @card);
    }

    &:checked ~ label .card {
      top: 2em;
      background-color: @highlight;
    }
  }
}

.river {
  input[type="radio"] {
    display: none;

    ~ label {
      .card-spacing;
      border-radius: @card-padding;
      right: @card-width/2 + 1.5em;
      top: 1em;
      margin-right: -(@card-width + 2.7em);
      z-index: 1;
      transition: top 0.2s, opacity 0.2s;
      opacity: 0;
      background-color: desaturate(@highlight, 50%);

      &:focus, &:hover {
        opacity: 0.5;
        top: 0.5em;
      }
    }

    &:checked ~ label {
      background-color: @highlight;
      top: 0;
      opacity: 0.5;
    }
  }
}

#play-button {
  font-size: 1.5em;
  padding: .5em 2em;
  border: none;
  border-radius: .5em;
  background-color: @highlight;
  display: block;
  margin: 1em auto;
  -webkit-appearance: none;
}
